.listItem {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
    padding: 1rem;
    margin: 2rem 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    position: relative;
    background-color: white;
}

.listItem-check {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
    cursor: pointer
}

.listItem-text {
    cursor: pointer;
}

.listItem--done {
    text-decoration: line-through;
}

.listItem-check--done {
    color: #56e96a
}

.listItem-button {
    display: flex;
    color: #ffffff;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    background-color: #ff4949;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    transition: all 0.3s ease-out;
}

.listItem-button:hover {
    background-color: #ff0000;
    scale: 1.2;
    transition: all 0.3s ease-out;
}
